In [9]:
import numpy as np
import pandas as pd 
from shapely.geometry import Point

In [10]:
## customized library
import ArcgisLib

### Initializing Arcgis server

In [11]:
path2Config = 'config.yaml'
geoUtils = ArcgisLib.GeocodingUtils(path2Config)

#### To geocode any address

In [12]:
print(geoUtils.addressToLatLong("1000 Garfield Ave, Jersey City, NJ"))

POINT (-74.06842573951187 40.71289743130019)

#### To geocode an entire column in a dataframe

In [13]:
#set batch size of address to be converted 
# by default batch size is 100
# the time delay between each batch is 30 seconds . The time delay is introduced to avoid overloading the server
geoUtils.set_batch_size(50)

In [14]:
tree_audit = pd.read_csv('sample_data.csv',sep=";")
tree_audit['address'] = tree_audit['Parcel Address'].apply(lambda x: x.replace('.','') + ', jersey city, NJ')

In [15]:
tree_audit['coordinates'] = geoUtils.addressColToLatLong(tree_audit['address'])
tree_audit.head()

,Tree ID,Genus,Species,Variety,Cultivar,Plant Month,Plant Year,BLOCK,LOT,Parcel Address,Month of Update,Year of Last Update,Plant Installer,address,coordinates
0,468,Quercus,rubra,NaN,NaN,6,2016,18901,2,1000 GARFIELD AVE.,3,2019,Jersey City Redevelopment Agency,"1000 GARFIELD AVE, jersey city, NJ",POINT (-74.06842573999995 40.71289743100004)
1,495,Quercus,rubra,NaN,NaN,6,2016,19803,3,75 WOODWARD ST.,3,2019,Jersey City Redevelopment Agency,"75 WOODWARD ST, jersey city, NJ",POINT (-74.06764539399995 40.71092214500004)
2,194,Gleditsia,triacanthos,NaN,NaN,4,2017,11404,18,126 NEWARK AVE.,3,2019,Jersey City Division of Architecture,"126 NEWARK AVE, jersey city, NJ",POINT (-74.04308811399994 40.72012577100003)
3,177,Cornus,kousa,NaN,NaN,4,2017,11603,41,108 FIRST ST.,3,2019,Jersey City Division of Architecture,"108 FIRST ST, jersey city, NJ",POINT (-74.03740369699995 40.72115242000007)
4,179,Cornus,kousa,NaN,NaN,4,2017,11603,41,108 FIRST ST.,3,2019,Jersey City Division of Architecture,"108 FIRST ST, jersey city, NJ",POINT (-74.03740369699995 40.72115242000007)

### calculating road distance between two points

In [16]:
#Generating new API token for your registered application
geoUtils.set_api_access_token()

In [17]:
#calculating the road distance between two points 
geoUtils.road_distance(Point(-118.243529,34.053879),Point(-118.273939,34.123480))

7.110991479907647